In [ ]:
Set is ordered for same data type but for mixed data type it is unordered.

In [ ]:
sets are enclosed in {} and seprated by comma.

In [ ]:
duplicates are not allowed

In [ ]:
sets are mutable

In [ ]:
indexing,slicing,append,sorting,reversing are not allowed

# Set

In [2]:
s={}

In [6]:
s1={21,6,34,58,5}
s1

{5, 6, 21, 34, 58}

In [8]:
s3={50,35,53,'nit',53}
s3

{35, 50, 53, 'nit'}

In [10]:
s1[1] #indeing is not allowed in set

TypeError: 'set' object is not subscriptable

In [3]:
s5={2,3,'nit',1+2j,True}

In [5]:
type(s5)

set

In [7]:
2 in s5

True

In [9]:
200 in s5

False

In [ ]:
discard() never gives u bug

In [11]:
for i in s5:
    print(i)

True
2
3
(1+2j)
nit

In [135]:
for i in enumerate (s5):
    print(i)

TypeError: 'str' object is not callable

In [21]:
s5.update([100,200,300])

In [23]:
s5

{(1+2j), 100, 2, 200, 3, 300, True, 'nit'}

In [25]:
s6=s5.copy()
s6

{(1+2j), 100, 2, 200, 3, 300, True, 'nit'}

# set operation

In [45]:
#union

In [47]:
A={1,2,3,4,5}
B={4,5,6,7,8}
C={8,9,10}

In [49]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [51]:
A.union(B,C)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [53]:
A.union(B,C,56)

TypeError: 'int' object is not iterable

In [55]:
print(A)
print(B)
print(C)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{8, 9, 10}

In [57]:
A|B

{1, 2, 3, 4, 5, 6, 7, 8}

In [59]:
A|B|C

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [63]:
A|B|C|D

NameError: name 'D' is not defined

In [65]:
#intersection

In [67]:
A & B

{4, 5}

In [69]:
A.intersection(B)

{4, 5}

In [73]:
A.intersection(C)

set()

In [75]:
B.intersection(C)

{8}

In [79]:
A.intersection(B,C) #in intersection pass only 1 argument

set()

In [ ]:
#difference

In [81]:
A - B

{1, 2, 3}

In [83]:
A -C

{1, 2, 3, 4, 5}

In [85]:
A.difference(B)

{1, 2, 3}

In [87]:
A.difference(B,C)

{1, 2, 3}

In [89]:
A -C

{1, 2, 3, 4, 5}

In [91]:
C-A

{8, 9, 10}

In [95]:
#symmetric difference-

In [97]:
A.symmetric_difference(C)

{1, 2, 3, 4, 5, 8, 9, 10}

In [99]:
B.symmetric_difference(C)

{4, 5, 6, 7, 9, 10}

In [101]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [103]:
A^B

{1, 2, 3, 6, 7, 8}

In [105]:
A^C

{1, 2, 3, 4, 5, 8, 9, 10}

In [107]:
B^C

{4, 5, 6, 7, 9, 10}

In [109]:
#superset,subset,disjoint

In [111]:
A1={1,2,3,4,5,6,7,8,9}
B1={3,4,5,6,7,8}
C1={10,20,30,40}

In [113]:
B1.issubset(A1)

True

In [115]:
A1.issubset(B1)

False

In [117]:
A1.issuperset(B1)

True

In [119]:
C1.issubset(A1)

False

In [121]:
B1.issubset(A1)

True

In [123]:
C1.isdisjoint(A1)

True

In [125]:
C1.isdisjoint(B1)

True

In [127]:
A2={1,2,3,4,5,6,7,8,9}
B2={13,14,15,16,17,18}
C2={10,20,30,40}

In [129]:
B2.issubset(A2)

False

In [131]:
A2.issuperset(B2)

False

In [133]:
B2.isdisjoint(A2)

True

# DICTIONARY
- Mutable
- collection of key & value pairs seprated by : & enclosed in {}.
- keys must be unique in dictionary & duplicate values are not allowed.

In [3]:
mydict=dict()  #empty dictionary
mydict

{}

In [6]:
mydict ={}
mydict

{}

In [10]:
mydict={1:'one',2:'two',3:'three'}   # dictionary with integer keys
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [12]:
mydict=dict({1:'one',2:'two',3:'three'})  #create dictionary using dict
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [14]:
mydict={'A':'one','B':'two','C':'three'}  #dict with character keys
mydict

{'A': 'one', 'B': 'two', 'C': 'three'}

In [16]:
mydict = {1:'one' , 'A':'two' , 3:'three'}  #mixed keys
mydict

{1: 'one', 'A': 'two', 3: 'three'}

In [18]:
mydict.keys()  #return dictionary keys

dict_keys([1, 'A', 3])

In [20]:
mydict.values()  #return dictionary values

dict_values(['one', 'two', 'three'])

In [22]:
mydict.items()  #access each key-value pair

dict_items([(1, 'one'), ('A', 'two'), (3, 'three')])

In [24]:
mydict = {1:'one' , 2:'two' , 'A':['asif' , 'john' , 'Maria']}
mydict

{1: 'one', 2: 'two', 'A': ['asif', 'john', 'Maria']}

In [30]:
keys = {'a' , 'b' , 'c' , 'd'}
mydict3 = dict.fromkeys(keys)  # Create a dictionary from a sequence of keys
mydict3

{'a': None, 'd': None, 'c': None, 'b': None}

In [34]:
keys = {'a' , 'b' , 'c' , 'd'} 
value = 10
mydict3 = dict.fromkeys(keys , value)
mydict3

{'a': 10, 'd': 10, 'c': 10, 'b': 10}

In [42]:
keys = {'a' , 'b' , 'c' , 'd'} 
value = [10,20,30]
mydict3 = dict.fromkeys(keys , value)
mydict3

{'a': [10, 20, 30], 'd': [10, 20, 30], 'c': [10, 20, 30], 'b': [10, 20, 30]}

In [38]:
value.append(40) 
mydict3

{'a': [10, 20, 30, 40],
 'd': [10, 20, 30, 40],
 'c': [10, 20, 30, 40],
 'b': [10, 20, 30, 40]}

# accessing items

In [45]:
mydict = {1:'one' , 2:'two' , 3:'three' , 4:'four'}
mydict

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [47]:
mydict[1]

'one'

In [49]:
mydict.get(1)  #Access item using get() method

'one'

In [51]:
mydict1 = {'Name':'Asif' , 'ID': 74123 , 'DOB': 1991 , 'job' :'Analyst'} 
mydict1

{'Name': 'Asif', 'ID': 74123, 'DOB': 1991, 'job': 'Analyst'}

In [53]:
mydict1['Name']

'Asif'

In [59]:
mydict1.get('job')

'Analyst'

# Add,remove & change items

In [62]:
mydict={'Name':'Asif','ID':12345,'DOB':1991,'Address':'Hilsinki'}
mydict

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [64]:
mydict['DOB']=1992 #changing dictionary items
mydict['Address']='Delhi'
mydict

{'Name': 'Asif', 'ID': 12345, 'DOB': 1992, 'Address': 'Delhi'}

In [70]:
dict={'DOB':1995} #update
mydict.update(dict)
mydict

{'Name': 'Asif', 'ID': 12345, 'DOB': 1995, 'Address': 'Delhi'}

In [72]:
mydict['Job']='Analyst'  #Adding items in dictionary
mydict

{'Name': 'Asif',
 'ID': 12345,
 'DOB': 1995,
 'Address': 'Delhi',
 'Job': 'Analyst'}

In [76]:
mydict.pop('Job')  #removing item using pop()
mydict

{'Name': 'Asif', 'ID': 12345, 'DOB': 1995, 'Address': 'Delhi'}

In [78]:
mydict.popitem()  #random item is removed

('Address', 'Delhi')

In [88]:
mydict

{'Name': 'Asif', 'DOB': 1995}

In [96]:
del[mydict['ID']] # Removing item using del method
mydict

KeyError: 'ID'

In [98]:
mydict

{'Name': 'Asif', 'DOB': 1995}

In [100]:
mydict.clear()  #delete all items using clear()
mydict

{}

In [102]:
del mydict  # delete dictionary

In [104]:
mydict

NameError: name 'mydict' is not defined

# Copy dict

In [109]:
mydict = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'} 
mydict

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [111]:
mydict1=mydict  #create new reference of mydict1

In [113]:
print(mydict)
print(mydict1)

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}
{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [115]:
mydict2=mydict.copy()  #creates copy of dict

In [119]:
print(id(mydict))   #same id
print(id(mydict1))   #same id
print(id(mydict2))   #different

2775676711040
2775676711040
2775676885376

In [121]:
mydict

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [123]:
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [125]:
mydict2

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

# Loop through a dictionary

In [128]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki' ,'Job':'Analyst'}
mydict1

{'Name': 'Asif',
 'ID': 12345,
 'DOB': 1991,
 'Address': 'Hilsinki',
 'Job': 'Analyst'}

In [130]:
for i in mydict1:
    print(i,':',mydict1[i]) #key and value pair

Name : Asif
ID : 12345
DOB : 1991
Address : Hilsinki
Job : Analyst

In [134]:
for i in mydict1:
    print(mydict1[i]) #dictionary items

Asif
12345
1991
Hilsinki
Analyst

# Dictionary Membership

In [139]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Job': 'Analyst'} 
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Job': 'Analyst'}

In [141]:
'Name' in mydict1 #Test if a key is in dictionary or not

True

In [143]:
'Asif' in mydict1

False

In [145]:
'ID' in mydict1

True

In [147]:
'Address' in mydict1

False

# All/Any

All():
- True : if all keys of dict are true
- False : if any key of dict is false
Any():
- True : if any key of dict is true
- False : if not any returns false

In [150]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Job': 'Analyst'} 
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Job': 'Analyst'}

In [152]:
all(mydict1)  #will return false as one value is false

True