# defined in () round brackets seprated by comma.
# tuple is immutable
- multiple data types allowed
- duplicates are allowed
- indexing is allowed
- slicing is allowed

In [240]:
t=()
t

()

In [242]:
type(t)

tuple

In [244]:
a10=7
type(a10)

int

In [246]:
t1=3,4,5,6,7
t1

(3, 4, 5, 6, 7)

In [248]:
type(t1)

tuple

In [250]:
t2=(10,20,30)
t2

(10, 20, 30)

In [252]:
type(t2)

tuple

In [318]:
t1.count(5)    #counts occurrences of 5 in t1

1

In [256]:
t1

(3, 4, 5, 6, 7)

In [258]:
t1[0]

3

In [320]:
l=[400,300,20]   #list is mutable
l

[400, 300, 20]

In [266]:
l[0]=10

In [268]:
l

[10, 300, 20]

In [270]:
icici=(234,'cizp456',4567)
icici

(234, 'cizp456', 4567)

In [322]:
icici[0]=456     #tuple is immutable
icici

TypeError: 'tuple' object does not support item assignment

In [276]:
t1

(3, 4, 5, 6, 7)

In [324]:
t1*3        #prints for 3 times, no multiplication coz tuple is immutable

(3, 4, 5, 6, 7, 3, 4, 5, 6, 7, 3, 4, 5, 6, 7)

In [280]:
t1.index(4)    #Returns index of 4

1

In [326]:
t1[:]    #empty slicing prints all elements

(3, 4, 5, 6, 7)

In [284]:
t1

(3, 4, 5, 6, 7)

In [286]:
t1[2:]     #prints elements from 2nd  index

(5, 6, 7)

In [288]:
t1

(3, 4, 5, 6, 7)

In [328]:
t1[:10]    #prints elements till 10th index

(3, 4, 5, 6, 7)

In [292]:
t1

(3, 4, 5, 6, 7)

In [294]:
for i in t1:
    print(i)

3
4
5
6
7

In [296]:
for i in enumerate(t1):
    print(i)

(0, 3)
(1, 4)
(2, 5)
(3, 6)
(4, 7)

In [298]:
t2=(10,10)
t2

(10, 10)

In [300]:
t5=('nit',45)

In [302]:
type(t5)

tuple

In [304]:
t5[0]

'nit'

In [308]:
print(t5[0][0])
print(t5[0][1])
print(t5[0][2])

n
i
t

In [310]:
print(t5[0][3])
print(t5[0][0])
print(t5[0][1])
print(t5[0][2])

IndexError: string index out of range

# Tuple Creation

In [331]:
tup1=() #Empty tuple

In [333]:
tup2=(10,30,60) #tuple of integer numbers

In [335]:
tup3=(10.77,30.66,60.89) #tuple of float numbers

In [337]:
tup4=('one','two','three') #tuple of strings

In [339]:
tup5=('Asif',25,(50,100),(150,90)) #nested tuples

In [341]:
tup6=(100,'Asif',17.765)  #Tuple of mixed data types

In [343]:
tup7=('Asif',25,[50,100],[150,90],{'John','David'},(99,22,33))

In [345]:
len(tup7)  #length of list

6

# Tuple Indexing

In [348]:
tup2[0]  #prints 1st element of tuple

10

In [350]:
tup4[0]

'one'

In [352]:
tup4[0][0]  #nested indexing -access 1st character of first element of tuple - one : o

'o'

In [354]:
tup4[-1]  #Last item of tuple

'three'

In [357]:
tup5[-1]

(150, 90)

# Tuple Slicing

In [404]:
mytuple=('one','two','three','four','five','six','seven','eight')

In [406]:
mytuple[0:3]  # returns elements from 0 to 3rd index

('one', 'two', 'three')

In [408]:
mytuple[2:5]

('three', 'four', 'five')

In [410]:
mytuple[:3]  #Returns first three items

('one', 'two', 'three')

In [412]:
mytuple[:2]

('one', 'two')

In [414]:
mytuple[-3:] #prints last 3 items

('six', 'seven', 'eight')

In [416]:
mytuple[-2:]

('seven', 'eight')

In [418]:
mytuple[-1]  #returns last item

'eight'

In [420]:
mytuple[:]  #returns whole tuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

# Remove & Change items

In [423]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [425]:
del mytuple[0]  #Tuples are immutable means we can't delete tuple items

TypeError: 'tuple' object doesn't support item deletion

In [427]:
mytuple[0]=1  #tuples are immutable means we can't change tuple items

TypeError: 'tuple' object does not support item assignment

In [429]:
del mytuple # deleting entire tuple object is possible

# Loop through a tuple

In [435]:
mytuple=('one','two','three','four','five','six','seven','eight')

In [437]:
for i in mytuple:
    print(i)

one
two
three
four
five
six
seven
eight

In [441]:
for i in enumerate(mytuple):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

# Tuple Membership

In [444]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [448]:
'one' in mytuple  #checks if 'one' exist in list

True

In [450]:
'ten' in mytuple

False

In [454]:
if 'three' in mytuple:             #checks if 'three' exist in list
    print('Three is present in the tuple')
else:
    print('Three is not present in the tuple')

Three is present in the tuple

In [458]:
if 'eleven' in mytuple:            
    print('eleven is present in the tuple')
else:
    print('eleven is not present in the tuple')

eleven is not present in the tuple

# Index Position

In [461]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [463]:
mytuple.index('one') #index of 'one'

0

In [465]:
mytuple.index('five')

4

In [469]:
mytuple1=('one','two','three','four','one','one','two','three')

In [471]:
mytuple.index('one')

0

# Sorting

In [476]:
mytuple2=(43,67,99,12,6,90,67)

In [478]:
sorted(mytuple2)  #returns a new sorted list & doesn't change original tuple

[6, 12, 43, 67, 67, 90, 99]

In [480]:
sorted(mytuple2,reverse=True) #Sort in descending order

[99, 90, 67, 67, 43, 12, 6]